/.gradle/
/build/
*.class
.idea
*.iml
.classpath
.project
.settings/org.eclipse.buildship.core.prefs
.settings/org.eclipse.jdt.core.prefs
.settings/org.eclipse.wst.common.component
.settings/org.eclipse.wst.common.project.facet.core.xml
src/main/java/META-INF/MANIFEST.MF
